<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413839895652-9thkj5qp3mk0cav71tqm6m2cvdqkk2rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413839895652-9thkj5qp3mk0cav71tqm6m2cvdqkk2rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDYN1v4RwGoRmR31IfbPDu-92YAEyysv4M</string>
	<key>GCM_SENDER_ID</key>
	<string>413839895652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonub.app</string>
	<key>PROJECT_ID</key>
	<string>wonderful-korea</string>
	<key>STORAGE_BUCKET</key>
	<string>wonderful-korea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413839895652:ios:57cda425fac3e41b97c371</string>
	<key>DATABASE_URL</key>
	<string>https://wonderful-korea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>